<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script language="javascript"> <!--src="../static/js/pageChange.js">-->

         function SelectRedirect(){
        // ON selection of section this function will work
        //alert( document.getElementById('s1').value);

        switch(document.getElementById('s1').value)
        {
        case "NIFTY":
        window.location="http://localhost:1255/NiftyPage";
        break;

        case "BANKNIFTY":
        window.location="http://localhost:1255/BankNiftyPage";
        break;

        case "FINNIFTY":
        window.location="http://localhost:1255/FinNiftyPage";
          break;

        /// Can be extended to other different selections of SubCategory //////
        default:
        window.location="http://localhost:1255/index"; // if no selection matches then redirected to home page
        break;
}// end of switch
}

    </script>

</head>

<body>

<nav class=" navbar navbar-expand-xl navbar-dark bg-secondary static-top">
    <div class="container">
        <a th:href="@{/symbol}" class="navbar-brand" href="#"> Options Gainer <i class="bi bi-house-fill"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Builder <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolioLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="bi bi-file-earmark-bar-graph-fill"></i>
                        Portfolio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolioLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFutureLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Future
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownFutureLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOptionsLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="bi bi-bar-chart-line-fill"></i>
                        Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownOptionsLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOILink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Open Interest
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownOILink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFII/DIILink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        FII/DII
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownFII/DIILink">
                        <a class="dropdown-item" th:href="@{/chartStrikePrice}"><i class="bi bi-house-fill"></i>FII/DII
                            Cash Market</a>
                        <a class="dropdown-item" href="#"><i class="bi bi-house-fill"></i>FII/DII Derivatives</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEducationLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Education
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownEducationLink">
                        <a class="dropdown-item" href="#"><i class="bi bi-laptop-fill"></i> How to User</a>
                        <a class="dropdown-item" href="#"><i class="bi bi-book-fill"></i> Webinars</a>
                        <a class="dropdown-item" href="#"><i class="bi bi-circle-fill"></i> Blogs</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <SELECT id="s1" NAME="section" onChange="SelectRedirect();">
        <Option value="">Select Section</option>
        <Option value="NIFTY">NIFTY</option>
        <Option value="BANKNIFTY">BANKNIFTY</option>
        <Option value="FINNIFTY">FINNIFTY</option>
    </SELECT>
    <H5 class="container">
        <a class=" container  badge text-bg-secondary col-md-3" href="#">Nifty Spot Price :
            <span th:text="${spotPrice}">Spot Price</span></a>
        <span class="badge text-bg-primary col-md-2">Lot Size : 50</span>
        <a class=" container  badge text-bg-secondary col-md-2">PCR :
            <span th:text="${pcr}">Spot Price</span></a>
        <!--            <span class="badge text-bg-info" th:text="${pcr}">PCR :  1.25</span>-->
        <span class="badge text-bg-warning col-md-3">MaxPain Strike :21450</span>
        <span class="badge text-bg-info col-md-3">Modified MaxPain :21500 </span>
    </H5>
</div>
<div id="container" style="width: 1050px; height: 300px; margin: 0 auto"></div>
<div id="container1" style="width: 1050px; height: 250px; margin: 0 auto"></div>
</div>


<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function(){

    Highcharts.chart('container1', {
        chart: {
            type: 'column',
            spacingTop: 0,
            spacingRight: 0,
            spacingBottom: 0,
            spacingLeft: 0,
        },
<!--        title: {-->
<!--            text: 'Nifty'-->
<!--        },-->
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [[${strikePrice}]],
            crosshair: true
        },
        yAxis: {
<!--        chart.yAxis[0].setExtremes(100,300);-->
<!--            min: [0].set,-->
<!--            max:100000,-->
            title: {
                text: 'ChangeIn OI'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Put Volume',
            data: [[${putVal}]],
            color: "#f62f3b"
        },{
            name: 'Call Volume',
            data: [[${callVal}]],
            color: "#0c7c05"
        }]
      });
<!--  ================================-->
    Highcharts.chart('container', {
        chart: {
            type: 'column',
            spacingTop: 0,
            spacingRight: 0,
            spacingBottom: 0,
            spacingLeft: 0,
        },
        title: {
            text: 'Nifty'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [[${strikePrice}]],
            crosshair: false
        },


        yAxis: {
<!--            min: [0].set,-->
<!--            max:200000,-->
<!--            tickInterval: 10000,-->
            title: {
                text: 'Open Interest'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Put Volume',
            data: [[${OiPutVal}]],
            color: "#f62f3b"
        },{
            name: 'Call Volume',
            data: [[${OiCallVal}]],
            color: "#0c7c05"
        }]
      });
    });




</script>

</body>
</html>